<div id="page">
	<a id="Top"></a>
	<div class="top-social">
		<div class="container top-social-info">
			<div class="container social-date">
				{% set date = node.created.value|date("j") ~ ' de ' ~ node.created.value|date("F")|t({}, {'context' : 'Long month name'}) ~ ' de ' ~ node.created.value|date("Y") %}
				{% set date_two = node.created.value|date("j") ~ '/' ~ node.created.value|date("F")|t({}, {'context' : 'Long month name'}) ~ '/' ~ node.created.value|date("Y") %}
				<p class="social-date__texto">{{ date }}</p>
                <p class="social-date__texto">{{ date_two }}</p>
			</div>
			<div class="container social-links">
				<p class="social-links__titulo">Síguenos</p>
				<a href="https://www.facebook.com/pautonoticias/" target="_blank" class="social-links__item">
					<svg class="social-links__item--facebook" xmlns="http://www.w3.org/2000/svg"
aria-label="Facebook" role="img"
viewBox="0 0 512 512"><rect
width="512" height="512"
rx="15%"
fill="#1877f2"/><path d="M355.6 330l11.4-74h-71v-48c0-20.2 9.9-40 41.7-40H370v-63s-29.3-5-57.3-5c-58.5 0-96.7 35.4-96.7 99.6V256h-65v74h65v182h80V330h59.6z" fill="#fff"/></svg>

				</a>
				<a href="https://twitter.com/pautonoticias" target="_blank" class="social-links__item">
					<svg id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.24 102.59"><defs><style>.cls-1{fill:#1da1f2;}</style></defs><title>twitter-original</title><path id="original" class="cls-1" d="M40.58,115.3c47.64,0,73.69-39.47,73.69-73.69,0-1.12,0-2.24-.07-3.35a52.7,52.7,0,0,0,12.92-13.41,51.7,51.7,0,0,1-14.87,4.08A26,26,0,0,0,123.63,14.6a51.9,51.9,0,0,1-16.45,6.29A25.92,25.92,0,0,0,63.05,44.51,73.53,73.53,0,0,1,9.67,17.45a25.92,25.92,0,0,0,8,34.58A25.71,25.71,0,0,1,6,48.78c0,.11,0,.22,0,.33A25.91,25.91,0,0,0,26.73,74.5a25.86,25.86,0,0,1-11.7.44,25.93,25.93,0,0,0,24.2,18A52,52,0,0,1,7.06,104a52.72,52.72,0,0,1-6.18-.36,73.32,73.32,0,0,0,39.7,11.63" transform="translate(-0.88 -12.7)"/></svg>
				</a>
				<a href="https://www.youtube.com/channel/UClqvhxcUPaLshs7AFNqHV3g" target="_blank" class="social-links__item">
					<svg width="256px" height="180px" viewBox="0 0 256 180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
    <defs>
        <linearGradient x1="49.9804764%" y1="8.68053889e-07%" x2="49.9804764%" y2="100.030167%" id="linearGradient-1">
            <stop stop-color="#E52D27" offset="0%"></stop>
            <stop stop-color="#BF171D" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g>
        <g>
            <path d="M101.6,123.2 L170.8,87.4 L101.6,51.3 L101.6,123.2 L101.6,123.2 Z" fill="#FFFFFF"></path>
            <path d="M101.6,51.3 L162.3,91.8 L170.8,87.4 L101.6,51.3 L101.6,51.3 Z" opacity="0.12" fill="#420000"></path>
            <path d="M253.301054,38.8 C253.301054,38.8 250.80203,21.2 243.105037,13.4 C233.408825,3.2 222.513081,3.2 217.415072,2.6 C181.729012,0 128.04998,0 128.04998,0 L127.95002,0 C127.95002,0 74.2709879,0 38.3850059,2.6 C33.3869582,3.2 22.4912144,3.2 12.695041,13.4 C5.09800859,21.2 2.59898477,38.8 2.59898477,38.8 C2.59898477,38.8 0,59.6 0,80.3 L0,99.7 C0,120.4 2.59898477,141.1 2.59898477,141.1 C2.59898477,141.1 5.09800859,158.7 12.795002,166.5 C22.4912144,176.7 35.2862163,176.4 40.9839906,177.4 C61.4759859,179.4 127.95002,180 127.95002,180 C127.95002,180 181.729012,179.9 217.515033,177.3 C222.513081,176.7 233.408825,176.7 243.204998,166.5 C250.901991,158.7 253.401015,141.1 253.401015,141.1 C253.401015,141.1 256,120.4 256,99.7 L256,80.3 C255.900039,59.6 253.301054,38.8 253.301054,38.8 L253.301054,38.8 Z M101.560328,123.2 L101.560328,51.3 L170.733307,87.4 L101.560328,123.2 L101.560328,123.2 Z" fill="url(#linearGradient-1)"></path>
        </g>
    </g>
</svg>
				</a>
				<a href="https://api.whatsapp.com/send?phone=+573208336072" target="_blank" class="social-links__item">
					<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="256px" height="257px" viewBox="0 0 256 257" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feGaussianBlur stdDeviation="3" in="SourceGraphic" result="blur"></feGaussianBlur>
        </filter>
        <linearGradient x1="49.9984912%" y1="99.9929345%" x2="49.9984912%" y2="-0.00558838011%" id="linearGradient-2">
            <stop stop-color="#20B038" offset="0%"></stop>
            <stop stop-color="#60D66A" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g>
        <g transform="translate(6.000000, 7.000000)">
            <path d="M0.296720132,244 L17.4522163,181.405622 C6.90390447,163.090971 1.28200201,142.284136 1.33995976,121.013639 C1.33995976,54.362218 55.5884206,0.171714897 122.239842,0.171714897 C154.58027,0.171714897 184.950135,12.7485482 207.727534,35.5839046 C230.56289,58.419261 243.139723,88.7891259 243.081766,121.071597 C243.081766,187.723018 188.833305,241.913521 122.181884,241.913521 L122.181884,241.913521 L122.123926,241.913521 C101.896669,241.913521 82.017158,236.813238 64.340042,227.19225 L0.296720132,244 L0.296720132,244 Z M67.3538454,205.284218 L71.0051841,207.486613 C86.4219475,216.643939 104.099064,221.454432 122.123926,221.51239 L122.181884,221.51239 C177.531542,221.51239 222.622677,176.479213 222.622677,121.071597 C222.622677,94.237155 212.190281,69.0255306 193.238094,50.0153862 C174.285908,31.0052418 149.016325,20.5728455 122.181884,20.5728455 C66.7742678,20.5728455 21.6831326,65.6060229 21.6831326,121.013639 C21.6831326,139.965826 26.9572885,158.45435 37.0419383,174.450691 L39.4182063,178.275903 L29.2755988,215.31091 L67.3538454,205.284218 L67.3538454,205.284218 Z" fill-opacity="0.24" fill="#000000" filter="url(#filter-1)"></path>
            <path d="M5.7810682,237.538941 L22.1512217,177.839395 C12.0772811,160.381714 6.75411928,140.520024 6.75411928,120.257666 C6.75411928,56.7231543 58.4975416,5.03697031 121.974815,5.03697031 C152.826258,5.03697031 181.731599,17.0570131 203.482153,38.8075667 C225.232707,60.5581203 237.195511,89.5206996 237.195511,120.314904 C237.195511,183.849416 185.452089,235.5356 121.974815,235.5356 L121.974815,235.5356 L121.917577,235.5356 C102.62827,235.5356 83.6823931,230.670345 66.8543332,221.512217 L5.7810682,237.538941 L5.7810682,237.538941 Z" fill="url(#linearGradient-2)"></path>
            <path d="M1.60267237,241.717337 L18.5452089,179.899974 C8.12783846,161.812671 2.57572345,141.264122 2.63296175,120.257666 C2.63296175,54.4336223 56.2080096,0.915812784 122.032053,0.915812784 C153.971024,0.915812784 183.963893,13.3365237 206.458544,35.8884135 C229.010434,58.4403033 241.431145,88.4331719 241.373907,120.314904 C241.373907,186.138948 187.798859,239.656758 121.974815,239.656758 L121.974815,239.656758 L121.917577,239.656758 C101.941411,239.656758 82.3086739,234.619788 64.8509928,225.11823 L1.60267237,241.717337 L1.60267237,241.717337 Z M67.8273843,203.482153 L71.4333971,205.657208 C86.6587847,214.70086 104.116466,219.451638 121.917577,219.508877 L121.974815,219.508877 C176.637391,219.508877 221.168787,175.034718 221.168787,120.314904 C221.168787,93.813572 210.865893,68.914912 192.14897,50.1407499 C173.432046,31.3665878 148.476148,21.063694 121.974815,21.063694 C67.2550013,21.063694 22.7236047,65.5378523 22.7236047,120.257666 C22.7236047,138.97459 27.9322899,157.233607 37.8917539,173.031378 L40.2385242,176.809106 L30.2218219,213.384379 L67.8273843,203.482153 L67.8273843,203.482153 Z" fill="#FFFFFF"></path>
            <path d="M92.1536614,70.2886312 C89.9213677,65.3088991 87.5745975,65.1944226 85.4567804,65.1371843 C83.7396314,65.079946 81.736291,65.079946 79.7329505,65.079946 C77.72961,65.079946 74.5242653,65.8240438 71.7768269,68.8004354 C69.0293886,71.7768269 61.3594565,78.9888526 61.3594565,93.6990954 C61.3594565,108.3521 72.0630184,122.547198 73.5512142,124.550539 C75.03941,126.553879 94.2142401,157.634275 124.4933,169.59708 C149.678152,179.556544 154.829599,177.553203 160.267237,177.038059 C165.762114,176.522914 177.896633,169.826033 180.415118,162.842961 C182.876365,155.859888 182.876365,149.907105 182.132267,148.647862 C181.38817,147.38862 179.384829,146.644522 176.408437,145.156326 C173.432046,143.66813 158.779041,136.456105 156.031603,135.425815 C153.284165,134.395526 151.280824,133.93762 149.334722,136.914011 C147.331382,139.890403 141.607552,146.587284 139.890403,148.590624 C138.173254,150.593965 136.398866,150.822918 133.422475,149.334722 C130.446083,147.846526 120.830049,144.69842 109.439628,134.510003 C100.567691,126.611117 94.5576699,116.823368 92.840521,113.846977 C91.123372,110.870585 92.6688061,109.267913 94.1570018,107.779717 C95.4734827,106.463236 97.1333934,104.288181 98.6215892,102.571032 C100.109785,100.853883 100.62493,99.5946402 101.597981,97.5912998 C102.571032,95.5879593 102.113125,93.8708103 101.369028,92.3826146 C100.62493,90.8944188 94.7866231,76.184176 92.1536614,70.2886312 L92.1536614,70.2886312 Z" fill="#FFFFFF"></path>
        </g>
    </g>
</svg>

				</a>
			</div>
		</div>
	</div>

	{% if page.show_skins_menu %}
		{{ page.show_skins_menu |raw }}
	{% endif %}

	{% if page.headline %}
		<section id="headline" class="headline">
			<div class="container">
				<a id="btn-second-menu" class="navbar-toggle collapsed" href="#menu-toggle">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				{{ page.headline }}
			</div>
		</section>
	{% endif %}

	<header id="header" class="header">
		<div class="container">
			{% if logo %}
				<a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
					<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
				</a>
			{% endif %}

			{% if site_name or site_slogan %}
				<div
					class="name-and-slogan">

					{# Use h1 when the content title is empty #}
					{% if title %}
						<strong class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						</strong>
					{% else %}
						<h1 class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						</h1>
					{% endif %}

					{% if site_slogan %}
						<div class="site-slogan">{{ site_slogan }}</div>
					{% endif %}
				</div>
			{% endif %}

			{{ page.header }}

		</div>
	</header>

	<div id="primary-menu" class="container">
		<a id="btn-main-menu" class="navbar-toggle collapsed" href="#main-menu-toggle">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
	</div>

	{% if page.primary_menu %}
		<section id="primary-main-menu" class="primary-main-menu">
			<div class="container">
				{{ page.primary_menu }}
			</div>
		</section>
	{% endif %}


	{% if page.secondary_menu %}
		<section id="secondary-main-menu" class="secondary-main-menu">
			<div class="container">
				{{ page.secondary_menu }}
			</div>
		</section>
	{% endif %}


	{% if page.slideshow %}
		<section id="slideshow" class="slideshow">
			<div class="container-fluid">
				{{ page.slideshow }}
			</div>
		</section>
	{% endif %}

	{% if page.featured %}
		<section id="featured" class="featured">
			<div class="container">
				{{ page.featured }}
			</div>
		</section>
	{% endif %}


	{% if page.highlighted %}
		<section id="hightlight" class="hightlight">
			<div class="container">
				{{ page.highlighted }}
			</div>
		</section>
	{% endif %}

	<section id="main" class="main">
		<a id="main-content"></a>
		<div class="container">
			<div class="row">

				<div id="main-content" class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }}">
					{% if tabs %}
						<nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
							{{ tabs }}
						</nav>
					{% endif %}
					{{ page.help }}

					{{ title_prefix }}
					{% if title %}
						<h1>{{ title }}</h1>
					{% endif %}
					{{ title_suffix }}

					{% if action_links %}
						<ul class="action-links">
							{{ action_links }}
						</ul>
					{% endif %}
					{{ page.content }}
				</div>
				{% if page.show_sidebar_first %}
					{% if page.sidebar_first %}
						<aside class="sidebar-first sidebar col-lg-{{ page.sidebar_first_width }} col-md-{{ page.sidebar_first_width }} col-sm-12 col-xs-12" role="complementary">
							{{ page.sidebar_first }}
						</aside>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</section>

	{% if page.panel_first %}
		<section id="panel_first" class="panel_first">
			<div class="container-fluid">
				{{ page.panel_first }}
			</div>
		</section>
	{% endif %}

	{% if page.panel_second %}
		<section id="panel_second" class="panel_second">
			<div class="container">
				{{ page.panel_second }}
			</div>
		</section>
	{% endif %}

	{% if page.panel_third %}
		<section id="panel_third" class="panel_third">
			<div class="container">
				{{ page.panel_third }}
			</div>
		</section>
	{% endif %}


	{% if page.footer_firstcolumn or page.footer_secondcolumn or page.footer_thirdcolumn %}
		<section id="footer-columns" class="footer-columns">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						{{ page.footer_firstcolumn }}
					</div>
					<div class="col-md-4">
						{{ page.footer_secondcolumn }}
					</div>
					<div class="col-md-4">
						{{ page.footer_thirdcolumn }}
					</div>
				</div>
			</div>

		</section>
		<!-- /#footer-columns -->
	{% endif %}

	{% if page.footer %}
		<footer id="footer" role="contentinfo">
			<div class="container">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
	<!--<a href="#" class="btn-btt">Volver arriba</a>-->
</div>
