<div id="page">
	<a id="Top"></a>
	<div class="top-social">
		<div class="container top-social-info">
			<div class="container social-date">
				<p class="social-date__texto">{{ item.content|date('F j, Y') }}</p>
                <p class="social-date__texto">{{ item.content|date('m/d/Y') }}</p>
			</div>
			<div class="container social-links">
				<p class="social-links__titulo">Síguenos</p>
				<a href="https://www.facebook.com/pautonoticias/" target="_blank" class="social-links__item">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="#0a82ec" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"/>
					</svg>
				</a>
				<a href="https://twitter.com/pautonoticias" target="_blank" class="social-links__item">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="#1da1f2" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"/>
					</svg>
				</a>
				<a href="https://www.youtube.com/channel/UClqvhxcUPaLshs7AFNqHV3g" target="_blank" class="social-links__item">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="#ff0000" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<rect x="3" y="5" width="18" height="14" rx="4"/>
						<path d="M10 9l5 3l-5 3z"/>
					</svg>
				</a>
			</div>
		</div>
	</div>

	{% if page.show_skins_menu %}
		{{ page.show_skins_menu |raw }}
	{% endif %}

	{% if page.headline %}
		<section id="headline" class="headline">
			<div class="container">
				<a id="btn-second-menu" class="navbar-toggle collapsed" href="#menu-toggle">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				{{ page.headline }}
			</div>
		</section>
	{% endif %}

	<header id="header" class="header">
		<div class="container">
			{% if logo %}
				<a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
					<img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
				</a>
			{% endif %}

			{% if site_name or site_slogan %}
				<div
					class="name-and-slogan">

					{# Use h1 when the content title is empty #}
					{% if title %}
						<strong class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						</strong>
					{% else %}
						<h1 class="site-name">
							<a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
						</h1>
					{% endif %}

					{% if site_slogan %}
						<div class="site-slogan">{{ site_slogan }}</div>
					{% endif %}
				</div>
			{% endif %}

			{{ page.header }}

		</div>
	</header>

	<div id="primary-menu" class="container">
		<a id="btn-main-menu" class="navbar-toggle collapsed" href="#main-menu-toggle">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
	</div>

	{% if page.primary_menu %}
		<section id="primary-main-menu" class="primary-main-menu">
			<div class="container">
				{{ page.primary_menu }}
			</div>
		</section>
	{% endif %}


	{% if page.secondary_menu %}
		<section id="secondary-main-menu" class="secondary-main-menu">
			<div class="container">
				{{ page.secondary_menu }}
			</div>
		</section>
	{% endif %}


	{% if page.slideshow %}
		<section id="slideshow" class="slideshow">
			<div class="container-fluid">
				{{ page.slideshow }}
			</div>
		</section>
	{% endif %}

	{% if page.featured %}
		<section id="featured" class="featured">
			<div class="container">
				{{ page.featured }}
			</div>
		</section>
	{% endif %}


	{% if page.highlighted %}
		<section id="hightlight" class="hightlight">
			<div class="container">
				{{ page.highlighted }}
			</div>
		</section>
	{% endif %}

	<section id="main" class="main">
		<a id="main-content"></a>
		<div class="container">
			<div class="row">

				<div id="main-content" class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }}">
					{% if tabs %}
						<nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
							{{ tabs }}
						</nav>
					{% endif %}
					{{ page.help }}

					{{ title_prefix }}
					{% if title %}
						<h1>{{ title }}</h1>
					{% endif %}
					{{ title_suffix }}

					{% if action_links %}
						<ul class="action-links">
							{{ action_links }}
						</ul>
					{% endif %}
					{{ page.content }}
				</div>
				{% if page.show_sidebar_first %}
					{% if page.sidebar_first %}
						<aside class="sidebar-first sidebar col-lg-{{ page.sidebar_first_width }} col-md-{{ page.sidebar_first_width }} col-sm-12 col-xs-12" role="complementary">
							{{ page.sidebar_first }}
						</aside>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</section>

	{% if page.panel_first %}
		<section id="panel_first" class="panel_first">
			<div class="container-fluid">
				{{ page.panel_first }}
			</div>
		</section>
	{% endif %}

	{% if page.panel_second %}
		<section id="panel_second" class="panel_second">
			<div class="container">
				{{ page.panel_second }}
			</div>
		</section>
	{% endif %}

	{% if page.panel_third %}
		<section id="panel_third" class="panel_third">
			<div class="container">
				{{ page.panel_third }}
			</div>
		</section>
	{% endif %}


	{% if page.footer_firstcolumn or page.footer_secondcolumn or page.footer_thirdcolumn %}
		<section id="footer-columns" class="footer-columns">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						{{ page.footer_firstcolumn }}
					</div>
					<div class="col-md-4">
						{{ page.footer_secondcolumn }}
					</div>
					<div class="col-md-4">
						{{ page.footer_thirdcolumn }}
					</div>
				</div>
			</div>

		</section>
		<!-- /#footer-columns -->
	{% endif %}

	{% if page.footer %}
		<footer id="footer" role="contentinfo">
			<div class="container">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
	<!--<a href="#" class="btn-btt">Volver arriba</a>-->
</div>
